
CREATE TABLE smartUtility_CustomerEntity (
  ID NVARCHAR(36) NOT NULL,
  createdAt TIMESTAMP_TEXT,
  createdBy NVARCHAR(255),
  modifiedAt TIMESTAMP_TEXT,
  modifiedBy NVARCHAR(255),
  name NVARCHAR(100),
  email NVARCHAR(100),
  password NVARCHAR(255),
  role NVARCHAR(255) DEFAULT 'CUSTOMER',
  phone NVARCHAR(20),
  address NVARCHAR(200),
  account_type NVARCHAR(255) DEFAULT 'RESIDENTIAL',
  region NVARCHAR(50),
  category NVARCHAR(50),
  status NVARCHAR(255) DEFAULT 'ACTIVE',
  PRIMARY KEY(ID)
);

CREATE TABLE smartUtility_MeterEntity (
  ID NVARCHAR(36) NOT NULL,
  createdAt TIMESTAMP_TEXT,
  createdBy NVARCHAR(255),
  modifiedAt TIMESTAMP_TEXT,
  modifiedBy NVARCHAR(255),
  meter_number NVARCHAR(50),
  customer_id NVARCHAR(36),
  meter_type NVARCHAR(20) DEFAULT 'DIGITAL',
  location NVARCHAR(200),
  installation_date DATE_TEXT,
  calibration_due_date DATE_TEXT,
  status NVARCHAR(30) DEFAULT 'ACTIVE',
  PRIMARY KEY(ID)
);

CREATE TABLE smartUtility_MeterReadingEntity (
  ID NVARCHAR(36) NOT NULL,
  createdAt TIMESTAMP_TEXT,
  createdBy NVARCHAR(255),
  modifiedAt TIMESTAMP_TEXT,
  modifiedBy NVARCHAR(255),
  meter_id NVARCHAR(36),
  reading_value DECIMAL(15, 3),
  unit NVARCHAR(10) DEFAULT 'kWh',
  reading_date DATETIME_TEXT,
  source NVARCHAR(20) DEFAULT 'MANUAL',
  status NVARCHAR(30) DEFAULT 'PENDING_VALIDATION',
  validation_errors NVARCHAR(1000),
  PRIMARY KEY(ID)
);

CREATE TABLE smartUtility_BillEntity (
  ID NVARCHAR(36) NOT NULL,
  createdAt TIMESTAMP_TEXT,
  createdBy NVARCHAR(255),
  modifiedAt TIMESTAMP_TEXT,
  modifiedBy NVARCHAR(255),
  bill_number NVARCHAR(50),
  customer_id NVARCHAR(36),
  meter_id NVARCHAR(36),
  billing_period_start DATE_TEXT,
  billing_period_end DATE_TEXT,
  consumption_units DECIMAL(15, 3),
  consumption_charges DECIMAL(15, 2),
  fixed_charges DECIMAL(15, 2) DEFAULT 0.0,
  tax DECIMAL(15, 2) DEFAULT 0.0,
  surcharge DECIMAL(15, 2) DEFAULT 0.0,
  total_amount DECIMAL(15, 2),
  due_date DATE_TEXT,
  status NVARCHAR(255) DEFAULT 'GENERATED',
  adjustment_amount DECIMAL(15, 2) DEFAULT 0.0,
  PRIMARY KEY(ID)
);

CREATE TABLE smartUtility_PaymentEntity (
  ID NVARCHAR(36) NOT NULL,
  createdAt TIMESTAMP_TEXT,
  createdBy NVARCHAR(255),
  modifiedAt TIMESTAMP_TEXT,
  modifiedBy NVARCHAR(255),
  bill_id NVARCHAR(36),
  customer_id NVARCHAR(36),
  amount DECIMAL(15, 2),
  payment_method NVARCHAR(255) DEFAULT 'ONLINE',
  gateway_transaction_id NVARCHAR(100),
  payment_date DATETIME_TEXT,
  status NVARCHAR(20) DEFAULT 'PENDING',
  receipt_number NVARCHAR(50),
  PRIMARY KEY(ID)
);

CREATE TABLE smartUtility_ComplaintEntity (
  ID NVARCHAR(36) NOT NULL,
  createdAt TIMESTAMP_TEXT,
  createdBy NVARCHAR(255),
  modifiedAt TIMESTAMP_TEXT,
  modifiedBy NVARCHAR(255),
  customer_id NVARCHAR(36),
  category NVARCHAR(255) DEFAULT 'OTHER',
  description NVARCHAR(1000),
  attachment_urls NCLOB,
  assigned_to NVARCHAR(36),
  status NVARCHAR(255) DEFAULT 'REGISTERED',
  resolution_date DATETIME_TEXT,
  resolution_notes NVARCHAR(1000),
  sla_due_date DATETIME_TEXT,
  PRIMARY KEY(ID)
);

CREATE TABLE smartUtility_AuditLogEntity (
  ID NVARCHAR(36) NOT NULL,
  createdAt TIMESTAMP_TEXT,
  createdBy NVARCHAR(255),
  modifiedAt TIMESTAMP_TEXT,
  modifiedBy NVARCHAR(255),
  user_id NVARCHAR(36),
  user_name NVARCHAR(100),
  "action" NVARCHAR(20),
  entity_type NVARCHAR(50),
  entity_id NVARCHAR(36),
  old_values NVARCHAR(2000),
  new_values NVARCHAR(2000),
  timestamp TIMESTAMP_TEXT DEFAULT CURRENT_TIMESTAMP,
  reason_code NVARCHAR(50),
  PRIMARY KEY(ID)
);

